     header {
        text-align: center;
     }
     ul {
        padding: 10px;
        background: black;
     }
     li {
        display: inline;
        padding: 0px 10px 0px 10px
     }
     a {
       color: white;
       }
       article {
       max-width: 500px;
       padding: 20px
       margin: 0 auto;
       }
       @media (max-width: 500px) {
       body {
       background: white;
       }
       h1 {
         font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      }
     }